.container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 1px solid rgba(226, 226, 226, 0.377);
    flex-direction: column;
    /* padding: 10px; */
    border-radius: 8px;
    box-shadow: 5px 5px 10px #7a7a7a1e
}
.type {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}
label {
    /* padding: 5px; */
    font-weight: bold;
    text-align: left;
    margin-bottom: 10px;
    /* background-color: blue; */
}
select {
    border: 0px;
    font-size: 16px;
}
.header {
    background-color: blue;
    width: 100%;
    padding-top: 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding-bottom: 10px;
    color: #fff;
    font-weight: bold;
}
